*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header {
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    /* background-size: contain; */
    background-size: cover;
    background-size: 350px;
    background-color: #4ea0ff;
}

#logo{
    width: 250px;
    padding-left: 10px;
    padding-top: 3%;
}

#div-title{
    padding-bottom: 15px;
}

#title{
    font-size: 30px;
}

#autor{
    color: gray;
}

#date{
    color: gray;
    font-size: 11px;
}

#thebooleaner-link{
    text-decoration: none;
    color: #26abe6;
}

#tim-1{
    height: 250px;
}

#tim-2{
    height: 250px;
}

#caption{
    font-size: 10px;
}

#div-imgs{
    padding-bottom: 15px;
}

.paragraph{
    padding-bottom: 15px;
}

.marked{
    background-color: yellow;
    color: black;
}

#lsit{

}

#table{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-collapse: collapse;
}

#table th, #table td {
    width: 33.33%;
}

tbody tr:nth-child(odd) {
    background-color: #b1e5f2;
  }

thead{
    background-color: #20a9e5;
    color: white;
}

#other{
    color: gray;
}

.other-in-img{
    color: white;
}

.other-in-img{
    color: white;
}

.other:nth-of-type(1){
    background-image: url("../img/monitor.jpg");
}

.other:nth-of-type(2){
    background-image: url("../img/graph.jpg");
}

.other{
    background-repeat: no-repeat;
    background-size: 300px;
}